/* Impostazioni generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Utilities */
.contenitore {
  margin: 0 auto;
  width: 1200px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.w-50 {
  50%;
}

/* Tipografia */
.text-center {
  text-align: center;
}

h1,
h2,
h3{
  font-weight: 500;
}


/* Menu */
.text-inline li {
  display: inline-block;
  padding: 0 10px;
}

.text-inline li:first-child {
  padding-left: 0;
}

.text-inline li:last-child {
  padding-right: 0;
}

/* Header */
.main-header {
  background: #0c325a;
  height: 560px;
  background-image: url("../img/background-header.png");
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.menu-nav {
  font-size: 12px;
  line-height: 80px;
  text-transform: uppercase;
}

.menu-nav img {
  vertical-align: middle;
}

.menu-nav li a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.menu-nav .header-logo {
  width: 15%;
}

.menu-nav .header-nav-centrale {
  width: 45%;
}

.menu-nav .header-nav-right {
  width: 40%;
}

.menu-nav .header-nav-right {
  text-align: right;
}

/* Buttons */
.btn {
  display: inline-block;
  line-height: 20px;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}

.btn-green{
  border: none;
  background: #2eb82e;
}

.btn-big {
  padding: 20px;
}

/* Jumbotron */
.jumbotron {
  position: relative;
  height: 480px;
}

.text-jumbotron {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.text-jumbotron h1 {
  color: white;
  font-size: 36px;
  margin-bottom: 35px;
}
